<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="P&aacute;gina web dos documentos n&atilde;o rateados"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../css/nhids.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/filtering.css" />
    <link rel="stylesheet" href="../css/cards.css" />
    <link rel="stylesheet" href="../css/modal.css" />
    <link rel="stylesheet" href="../css/apportionments.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <title>Documentos n&atilde;o rateados</title>
  </head>
  <body>
    <header>
      <nav class="navbar clearfix">
        <div class="left-floating">
          <div class="breadcrumbs">
            <button class="back-btn clickable"><i class="fa-solid fa-arrow-left"></i></button>
            <span id="back-to">Controladoria</span>
          </div>
        </div>

        <div class="right-floating">
          <ul class="inline-list">
            <li id="sync-icon">
              <img src="../assets/Cloud.svg" alt="sincronia" />
            </li>
            <li id="fiscal-year" class="upper-label">
              <label class="upper-label" for="year-select">Ano de exerc&iacute;cio</label>
              <select class="clickable" name="selected-year" id="year-select">
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </li>
            <li id="organization" class="upper-label">
              <label class="upper-label" for="organization-select">Organiza&ccedil;&atilde;o</label>
              <select class="clickable" name="selected-organization" id="organization-select">
                <option value="SpaceX">SpaceX</option>
                <option value="Tesla">Tesla</option>
                <option value="Starlink">Starlink</option>
                <option value="X">X</option>
              </select>
            </li>
            <li id="user-profile">
              <img class="clickable" src="../assets/CommonActions.svg" alt="profile" />
            </li>
          </ul>
        </div>
      </nav>
    </header>


    <main id="ctrl-app">
      <header>
        <h1>Documentos n&atilde;o rateados</h1>
      </header>
      <section class="filtering">
        <div class="centered">
          <div class="search-area">
            <i class="fa-solid fa-search icon"></i>
            <input name="search-value"
              type="text"
              v-model="filterText"
              v-bind:placeholder="filterPlaceholder" />
          </div>
          <div class="list-filters" v-if="false">
            <ul class="inline-list">
              <li v-for="dataFilter in availableFilters">
                <button class="clickable" v-bind:name="dataFilter.attr">{{ dataFilter.label }}</button>
              </li>
            </ul>
            <button class="tertiary clickable">Limpar</button>
          </div>
        </div>
        <div class="flex-container justify-right">
          <div class="info-selector">
            <button id="by-titulo"
              class="clickable"
              v-on:click="selectTitulos"
              v-bind:class="{ 'active': titulosIsActive }"
            >Por t&iacute;tulo</button>
            <button id="by-lancamento"
              class="clickable"
              v-on:click="selectLancamentos"
              v-bind:class="{ 'active': lancamentosIsActive }"
            >Por lan&ccedil;amento</button>
          </div>
        </div>
      </section>

      <section class="doc-list">
        <h1 class="hidden" aria-hidden="false">Listagem dos documentos pendentes de rateio espec&iacute;fico no processamento de 10/10/2024 &agrave;s 14:00:00</h1>
        <ul class="cards-list" id="titulos-list" v-if="titulosIsActive">
          <li v-for="(titulo, iTit) in filteredTitulos" v-bind:key="iTit">
            <div class="card clickable" v-on:click="() => openModal(titulo)">
              <ul class="tips inline-list">
                <li class="card-status"
                  v-bind:class="{ warning: !titulo.rateado, success: titulo.rateado }"
                >{{ titulo.status }}</li>
              </ul>
              <ul class="data-info inline-list">
                <li class="card-info primary">
                  <label class="upper-label" aria-hidden="false">N&uacute;mero</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="titulo.numero" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data de emiss&atilde;o</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="titulo.emissao" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data de vencimento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="titulo.vencimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="5"
                    v-model="titulo.fluxo"/>
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="5"
                    v-model="titulo.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="titulo.estabelecimento" />
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="cards-list" id="lancamentos-list" v-if="lancamentosIsActive">
          <li v-for="(lancamento, iLanc) in filteredLancamentos" v-bind:key="iLanc">
            <div class="card clickable" v-on:click="() => openModal(lancamento)">
              <ul class="tips inline-list">
                <li class="card-status"
                  v-bind:class="{ warning: !lancamento.rateado, success: lancamento.rateado}"
                >{{ lancamento.status }}</li>
              </ul>
              <ul class="data-info inline-list">
                <li class="card-info primary">
                  <label class="upper-label">Documento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="8"
                    v-model="lancamento.documento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Conta</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="lancamento.conta" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="4"
                    v-model="lancamento.fluxo" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="lancamento.estabelecimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data do lan&ccedil;amento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="lancamento.data" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="6"
                    v-model="lancamento.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Hist&oacute;rico</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="lancamento.historico" />
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>

      <div class="modal" v-if="anyDocumentSelected">
        <article class="modal-content">
          <header>
            <h1>Informa&ccedil;&otilde;es do {{ selector == 'T' ? 't\u00EDtulo' : 'lan\u00E7amento' }}</h1>
            <span class="primary">
              {{ selector == 'T' ? `N\u00FAmero: ${selectedDoc.numero}` : `Documento: ${selectedDoc.documento}` }}
            </span>
            <span class="card-status"
              v-bind:class="{ 'warning': !selectedDoc.rateado, 'success': selectedDoc.rateado }"
            >{{ selectedDoc.status }}</span>
          </header>
          <main>
            <section class="doc-info">
              <ul class="data-info inline-list" v-if="selector == 'T'">
                <li class="card-info">
                  <label class="upper-label">Data de emiss&atilde;o</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="selectedDoc.emissao" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data de vencimento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="selectedDoc.vencimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="5"
                    v-model="selectedDoc.fluxo"/>
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="8"
                    v-model="selectedDoc.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="selectedDoc.estabelecimento" />
                </li>
              </ul>
              <ul class="data-info inline-list" v-if="selector == 'L'">
                <li class="card-info">
                  <label class="upper-label">Conta</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="selectedDoc.conta" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="5"
                    v-model="selectedDoc.fluxo" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="selectedDoc.estabelecimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data do lan&ccedil;amento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="selectedDoc.data" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="8"
                    v-model="selectedDoc.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Hist&oacute;rico</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="selectedDoc.historico" />
                </li>
              </ul>
            </section>
            <section id="rateios">
              <header>
                <p>Distribui&ccedil;&atilde;o do documento</p>
                <hr />
              </header>
              <p>
                Distribua os valores nas dimens&otilde;es abaixo. Voc&ecirc; pode adicionar ou remover
                distribui&ccedil;&otilde;es em qualquer uma das dimens&otilde;es, n&atilde;o sendo
                necess&aacute;rio utilizar todas. A a&ccedil;&atilde;o s&oacute; ser&aacute; conclu&iacute;da
                quando a soma atingir 100%.
              </p>
              <div class="container-apports">
                <ul class="inline-list">
                  <li>
                    <header class="apports-action justify-right">
                      <button class="tertiary-btn clickable"
                        v-on:click="addVirtualApport('CF')">Adicionar distribui&ccedil;&atilde;o</button>
                    </header>
                    <table class="apports-table" v-if="virtualApports">
                      <thead>
                        <th><label>Classifica&ccedil;&atilde;o financeira</label></th>
                        <th>Valor</th>
                        <th>%</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr v-for="(apportCF, iCF) in virtualApports['CF']" v-bind:key="iCF">
                          <td class="select-data">
                            <select v-model="apportCF.classificacaofinanceira">
                              <option disabled value="">Escolha</option>
                              <option v-for="_cf in classfin" v-bind:value="_cf.classificacaofinanceira">
                                {{ _cf.codigo }} - {{ _cf.descricao }}
                              </option>
                            </select>
                          </td>
                          <td class="numeric-value">
                            <input type="number" step="0.01"
                              v-on:input="calculatePercent(apportCF)"
                              v-model.number="apportCF.valor" />
                          </td>
                          <td class="percent-value">
                            <input type="number" step="0.01" size="5" max="999.99" min="-999.99"
                              v-on:input="calculateValue(apportCF)"
                              v-model.number="apportCF.percentual" />
                          </td>
                          <td>
                            <button class="delete-apport tertiary-btn danger"
                              v-on:click="removeVirtualApport('CF', iCF)"
                            >
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td class="text-value">Total</td>
                        <td class="numeric-value">{{ getTotalValue('CF') | round2 | money }}</td>
                        <td class="percent-value">{{ getTotalPercent('CF') | round2 | percent }}</td>
                        <td></td>
                      </tfoot>
                    </table>
                  </li>
                  <li>
                    <header class="apports-action flex-container justify-right">
                      <button class="tertiary-btn clickable"
                        v-on:click="addVirtualApport('CC')">Adicionar distribui&ccedil;&atilde;o</button>
                    </header>
                    <table class="apports-table">
                      <thead>
                        <th class="th-apport">Centro de custo</th>
                        <th class="th-value">Valor</th>
                        <th class="th-percent">%</th>
                        <th class="th-delete"></th>
                      </thead>
                      <tbody>
                        <tr v-for="(apportCC, iCC) in virtualApports['CC']" v-bind:key="iCC">
                          <td class="select-data">
                            <select v-model="apportCC.centrocusto">
                              <option disabled value="">Escolha</option>
                              <option v-for="_cc in centros" v-bind:value="_cc.centrocusto">
                                {{ _cc.codigo }} - {{ _cc.descricao }}
                              </option>
                            </select>
                          </td>
                          <td class="numeric-value">
                            <input type="number" step="0.01"
                              v-on:input="calculatePercent(apportCC)"
                              v-model.number="apportCC.valor" />
                          </td>
                          <td class="percent-value">
                            <input type="number" step="0.01" size="5" max="999.99" min="-999.99"
                              v-on:input="calculateValue(apportCC)"
                              v-model.number="apportCC.percentual" />
                          </td>
                          <td>
                            <button class="delete-apport tertiary-btn danger"
                              v-on:click="removeVirtualApport('CC', iCC)"
                            >
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td class="tf-apport text-value">Total</td>
                        <td class="tf-value numeric-value">{{ getTotalValue('CC') | round2 | money }}</td>
                        <td class="tf-percent percent-value">{{ getTotalPercent('CC') | round2 | percent }}</td>
                        <td class="tf-delete"></td>
                      </tfoot>
                    </table>
                  </li>
                  <li>
                    <header class="apports-action flex-container justify-right">
                      <button class="tertiary-btn clickable"
                        v-on:click="addVirtualApport('PR')">Adicionar distribui&ccedil;&atilde;o</button>
                    </header>
                    <table class="apports-table">
                      <thead>
                        <th class="th-apport">Projeto</th>
                        <th class="th-value">Valor</th>
                        <th class="th-percent">%</th>
                        <th class="th-delete"></th>
                      </thead>
                      <tbody>
                        <tr v-for="(apportPR, iPR) in virtualApports['PR']" v-bind:key="iPR">
                          <td class="select-data">
                            <select v-model="apportPR.projeto">
                              <option disabled value="">Escolha</option>
                              <option v-for="_pr in projetos" v-bind:value="_pr.projeto">
                                {{ _pr.codigo }} - {{ _pr.nome }}
                              </option>
                            </select>
                          </td>
                          <td class="numeric-value">
                            <input type="number" step="0.01"
                              v-on:input="calculatePercent(apportPR)"
                              v-model.number="apportPR.valor" />
                          </td>
                          <td class="percent-value">
                            <input type="number" step="0.01" size="5" max="999.99" min="-999.99"
                              v-on:input="calculateValue(apportPR)"
                              v-model.number="apportPR.percentual" />
                          </td>
                          <td>
                            <button class="delete-apport tertiary-btn danger clickable"
                              v-on:click="removeVirtualApport('PR', iPR)"
                            >
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td class="tf-apport tbl-total text-value">Total</td>
                        <td class="tf-value numeric-value">{{ getTotalValue('PR') | round2 | money }}</td>
                        <td class="tf-percent percent-value">{{ getTotalPercent('PR') | round2 | percent }}</td>
                        <td class="tf-delete"></td>
                      </tfoot>
                    </table>
                  </li>
                </ul>
              </div>
            </section>
          </main>
          <footer class="flex-container justify-right">
            <button class="action-btn secondary-btn clickable"
              v-on:click="closeModal">Fechar</button>
            <button class="action-btn primary-btn clickable"
              v-on:click="saveApports"
              v-if="changedApports">Salvar</button>
          </footer>
        </article>
      </div>
    </main>


    <footer></footer>

    <script src="../js/not-apportioned.js"></script>
  </body>
</html>
