<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Raw web page that is going to be incremented with react and other libraries"
    />
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="../css/fontawesome.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/nhids.css" />
    <link rel="stylesheet" href="../css/raw.css" />
    <title>Building Ctrl</title>
  </head>
  <body>
    <header>
      <nav class="navbar clearfix">
        <div class="left-floating">
          <div class="breadcrumbs">
            <button class="back-btn clickable"><i class="fa-solid fa-arrow-left"></i></button>
            <span id="back-to">Controladoria</span>
          </div>
        </div>

        <div class="right-floating">
          <ul class="inline-list">
            <li id="sync-icon">
              <img src="../assets/Cloud.svg" alt="sincronia" />
            </li>
            <li id="fiscal-year" class="upper-label">
              <label class="upper-label" for="year-select">Ano de exerc&iacute;cio</label>
              <select class="clickable" name="selected-year" id="year-select">
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </li>
            <li id="organization" class="upper-label">
              <label class="upper-label" for="organization-select">Organiza&ccedil;&atilde;o</label>
              <select class="clickable" name="selected-organization" id="organization-select">
                <option value="SpaceX">SpaceX</option>
                <option value="Tesla">Tesla</option>
                <option value="Starlink">Starlink</option>
                <option value="X">X</option>
              </select>
            </li>
            <li id="user-profile">
              <img class="clickable" src="../assets/Common Actions.svg" alt="profile" />
            </li>
          </ul>
        </div>
      </nav>
    </header>


    <main id="ctrl-app">
      <header>
        <h1>Documentos n&atilde;o rateados</h1>
      </header>
      <section class="filtering">
        <div class="centered">
          <div class="search-area">
            <i class="fa-solid fa-search icon"></i>
            <input name="search-value"
              type="text"
              placeholder="Pesquisar por nome, estabelecimento ou valor" />
          </div>
          <div class="list-filters">
            <ul class="inline-list">
              <li v-for="dataFilter in availableFilters">
                <button class="clickable" v-bind:name="dataFilter.attr">{{ dataFilter.label }}</button>
              </li>
            </ul>
            <button class="tertiary clickable">Limpar</button>
          </div>
        </div>
        <div class="flex-container justify-right">
          <div class="info-selector">
            <button id="by-titulo"
              class="clickable"
              v-on:click="selectTitulos"
              v-bind:class="{ 'active': titulosIsActive }"
            >Por t&iacute;tulo</button>
            <button id="by-lancamento"
              class="clickable"
              v-on:click="selectLancamentos"
              v-bind:class="{ 'active': lancamentosIsActive }"
            >Por lan&ccedil;amento</button>
          </div>
        </div>
      </section>

      <section class="doc-list">
        <h1 class="hidden" aria-hidden="false">Listagem dos documentos pendentes de rateio espec&iacute;fico no processamento de 10/10/2024 &agrave;s 14:00:00</h1>
        <ul class="cards-list" id="titulos-list" v-if="titulosIsActive">
          <li v-for="titulo in titulos" :key="titulo.numero">
            <div class="card clickable" v-on:click="() => openModal(titulo)">
              <ul class="tips inline-list">
                <li class="card-status"
                  v-bind:class="{ warning: !titulo.rateado, success: titulo.rateado }"
                >{{ titulo.status }}</li>
              </ul>
              <ul class="data-info inline-list">
                <li class="card-info primary">
                  <label class="upper-label" aria-hidden="false">N&uacute;mero</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="titulo.numero" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data de emiss&atilde;o</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="titulo.emissao" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data de vencimento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="titulo.vencimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="8"
                    v-model="titulo.fluxo"/>
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="10"
                    v-model="titulo.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="titulo.estabelecimento" />
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="cards-list" id="lancamentos-list" v-if="lancamentosIsActive">
          <li v-for="lancamento in lancamentos">
            <div class="card clickable" v-on:click="() => openModal(lancamento)">
              <ul class="tips inline-list">
                <li class="card-status"
                  v-bind:class="{ warning: !lancamento.rateado, success: lancamento.rateado}"
                >{{ lancamento.status }}</li>
              </ul>
              <ul class="data-info inline-list">
                <li class="card-info primary">
                  <label class="upper-label">Documento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="lancamento.documento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Conta</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="lancamento.conta" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="8"
                    v-model="lancamento.fluxo" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="lancamento.estabelecimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data do lan&ccedil;amento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="lancamento.data" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="10"
                    v-model="lancamento.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Hist&oacute;rico</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="lancamento.historico" />
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>

      <div class="modal" v-if="anyDocumentSelected">
        <article class="modal-content">
          <header>
            <h1>Informa&ccedil;&otilde;es do {{ selector == 'T' ? 't\u00EDtulo' : 'lan\u00E7amento' }}</h1>
            <span class="primary">
              {{ selector == 'T' ? `N\u00FAmero: ${selectedDoc.numero}` : `Documento: ${selectedDoc.documento}` }}
            </span>
            <span class="card-status"
              v-bind:class="{ 'warning': !selectedDoc.rateado, 'success': selectedDoc.rateado }"
            >{{ selectedDoc.status }}</span>
          </header>
          <main>
            <section class="doc-info">
              <ul class="data-info inline-list" v-if="selector == 'T'">
                <li class="card-info">
                  <label class="upper-label">Data de emiss&atilde;o</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="selectedDoc.emissao" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data de vencimento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="selectedDoc.vencimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="8"
                    v-model="selectedDoc.fluxo"/>
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="10"
                    v-model="selectedDoc.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="selectedDoc.estabelecimento" />
                </li>
              </ul>
              <ul class="data-info inline-list" v-if="selector == 'L'">
                <li class="card-info">
                  <label class="upper-label">Conta</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="selectedDoc.conta" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Fluxo</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="8"
                    v-model="selectedDoc.fluxo" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Estabelecimento</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    size="10"
                    v-model="selectedDoc.estabelecimento" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Data do lan&ccedil;amento</label>
                  <input class="card-data"
                    type="date"
                    readonly="readonly"
                    v-model="selectedDoc.data" />
                </li>
                <li class="card-info">
                  <label class="upper-label">Valor</label>
                  <input class="card-data"
                    type="number"
                    readonly="readonly"
                    size="10"
                    v-model="selectedDoc.valor" />
                </li>
                <li class="card-info eager-info">
                  <label class="upper-label">Hist&oacute;rico</label>
                  <input class="card-data"
                    type="text"
                    readonly="readonly"
                    v-model="selectedDoc.historico" />
                </li>
              </ul>
            </section>
            <section id="rateios">
              <header>
                <p>Distribui&ccedil;&atilde;o do documento</p>
                <hr />
              </header>
              <p>
                Distribua os valores nas dimens&otilde;es abaixo. Voc&ecirc; pode adicionar ou remover
                distribui&ccedil;&otilde;es em qualquer uma das dimens&otilde;es, n&atilde;o sendo
                necess&aacute;rio utilizar todas. A a&ccedil;&atilde;o s&oacute; ser&aacute; conclu&iacute;da
                quando a soma atingir 100%.
              </p>
              <div class="container-apports">
                <ul class="inline-list">
                  <li>
                    <header class="apports-action flex-container justify-right">
                      <button>Adicionar distribui&ccedil;&atilde;o</button>
                    </header>
                    <table class="apports-table">
                      <thead>
                        <th class="th-apport">Classifica&ccedil;&atilde;o financeira</th>
                        <th class="th-value">Valor</th>
                        <th class="th-percent">%</th>
                        <th class="th-delete"></th>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <button class="delete-apport tertiary-btn danger">
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td class="tf-apport">Total</td>
                        <td class="tf-value"></td>
                        <td class="tf-percent"></td>
                        <td class="tf-delete"></td>
                      </tfoot>
                    </table>
                  </li>
                  <li>
                    <header class="apports-action flex-container justify-right">
                      <button>Adicionar distribui&ccedil;&atilde;o</button>
                    </header>
                    <table class="apports-table">
                      <thead>
                        <th class="th-apport">Centro de custo</th>
                        <th class="th-value">Valor</th>
                        <th class="th-percent">%</th>
                        <th class="th-delete"></th>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <button class="delete-apport tertiary-btn danger">
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td class="tf-apport">Total</td>
                        <td class="tf-value"></td>
                        <td class="tf-percent"></td>
                        <td class="tf-delete"></td>
                      </tfoot>
                    </table>
                  </li>
                  <li>
                    <header class="apports-action flex-container justify-right">
                      <button>Adicionar distribui&ccedil;&atilde;o</button>
                    </header>
                    <table class="apports-table">
                      <thead>
                        <th class="th-apport">Projeto</th>
                        <th class="th-value">Valor</th>
                        <th class="th-percent">%</th>
                        <th class="th-delete"></th>
                      </thead>
                      <tbody>
                        <tr v-for="proj in selectedDoc.rateios['PR']">
                          <td class="text-value">{{ proj.codigo }} - {{ proj.nome }}</td>
                          <td class="numeric-value">{{ proj.valor | round2 }}</td>
                          <td class="numeric-value">{{ proj.valor / selectedDoc.valor * 100  | round2 }}</td>
                          <td>
                            <button class="delete-apport tertiary-btn danger clickable">
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td class="tf-apport">Total</td>
                        <td class="tf-value"></td>
                        <td class="tf-percent"></td>
                        <td class="tf-delete"></td>
                      </tfoot>
                    </table>
                  </li>
                </ul>
              </div>
            </section>
          </main>
          <footer class="flex-container justify-right">
            <button class="action-btn secondary-btn clickable" v-on:click="closeModal">Fechar</button>
          </footer>
        </article>
      </div>
    </main>


    <footer></footer>

    <script src="../js/vue.js"></script>
    <script src="../js/raw.js"></script>
  </body>
</html>
