/* ------------- common basic rules -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16pt;
  color: var(--text-color);
  font-family: "PT Sans", sans-serif;
}

body {
  position: relative;
  background-color: var(--bgnd-color);
}

main {
  position: relative;
  padding: 32px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}

button.tertiary {
  border: none !important;
}

button.tertiary.danger,
.tertiary-btn.danger {
  color: var(--danger-color);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  /*visibility: hidden;*/
  display: none;
}

.flex-container {
  display: flex;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}

.inline-list, .cards-list {
  list-style-type: none;
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.upper-label {
  position: relative;
  font-size: 0.5rem;
  display: block;
  font-weight: bold;
}

.upper-label + * {
  font-size: 0.5rem;
}

.left-floating {
  float: left;
}

.right-floating {
  float: right;
}

.clickable:hover {
  background-color: rgba(150, 150, 200, 0.1);
  cursor: pointer;
}

.clickable.primary-btn:hover {
  background-color: rgba(0, 70, 156, 0.8);
}

body > header {
  min-height: 50px;
  height: 80px;
}

main header h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

input:focus {
  outline: none;
}

input:disabled:hover, input[readonly="readonly"] {
  cursor: inherit;
}
/* ------------------------------- */

/*    ------- NAVBAR --------- */
.navbar {
  /*position: fixed;*/
  width: 100%;
  top: 0;
  padding: 16px;
  box-shadow: 0px 5px 5px var(--brdr-color);
  background-color: var(--bgnd-color);
  z-index: 100;
}

.navbar > * {
  display: inline-block;
}

.navbar select {
  border: none;
  background-color: inherit;
  position: absolute;
  right: -5px;
  color: var(--icon-color);
}

.breadcrumbs {
  font-weight: bold;
  font-size: 1.2rem;
}

.breadcrumbs .back-btn {
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.breadcrumbs .back-btn:hover {
  background-color: rgba(150, 150, 200, 0.1);
}

#user-profile {
  border-radius: 8px;
}
/* -------------------------------------------- */


/* ---------- FILTERING -----------------*/
.filtering .centered {
  padding: 16px 128px;
  padding-top: 64px;
  background-color: var(--bgnd-color);
}

.filtering {
  padding-bottom: 16px;
  /*position: sticky;*/
  top: 40px;
  background-color: var(--bgnd-color);
  z-index: 10;
}

.search-area {
  display: flex;
  border: 1px solid var(--brdr-color);
  box-sizing: content-box;
  border-radius: 32px;
  padding: 16px;
}

.search-area input {
  border: none;
  margin: 0;
  flex-grow: 1;
  text-indent: 16px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.info-selector {
  margin: 0;
  padding: 0;
  border: 2px solid var(--brdr-color);
  display: flex;
  max-width: 250px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.info-selector button {
  padding: 5px 20px;
  border: none;
  flex-grow: 1;
  background-color: transparent;
  text-align: center;
}

.info-selector button.active {
  background-color: rgba(180, 200, 255, 0.7);
}

.info-selector button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.info-selector button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.info-selector button:not(:last-child) {
  border-right: 2px solid var(--brdr-color) !important;
}

.list-filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.list-filters .inline-list {
  width: auto;
}

.list-filters button {
  font-weight: 700;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--brdr-color);
  background-color: transparent;
  margin-top: 16px;
}

.list-filters button.tertiary {
  font-weight: 400;
}

/* ----------------------------------------------- */


/* ------------- CARDS ------------------ */
.cards-list {
  border: 2px solid #ddd;
  border-radius: 16px;
  border-left: none;
  box-shadow: inset 4px 0px var(--primary-color);
}

.cards-list > li {
  border-bottom: 2px solid var(--brdr-color);
  display: flex;
  flex-direction: row;
}

.cards-list > li:last-child {
  border-bottom: none;
}

.card {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.card-info input {
  border: none;
  background-color: transparent;
}

.card-info input[type="number"]::-webkit-outer-spin-button,
.card-info input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.card-info input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.card-status {
  border-radius: 10px;
  text-align: center;
  padding: 4px 16px;
  font-size: 0.5rem;
  font-weight: bold;
}

.card-status.warning {
  background-color: var(--warning-color);
}

.card-status.success {
  background-color: var(--success-color);
  color: var(--bgnd-color)
}

.card-info label {
  padding-bottom: 4px;
}

.card-info.primary label {
  display: none;
}

.card-info.primary input {
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 4px;
  color: var(--primary-color);
}

.card-info label:hover,
.card-info input:hover {
  cursor: inherit;
}

.eager-info {
  flex-grow: 1;
  min-width: 200px;
}

/* ----------------------------------------- */

/* ------------ MODAL --------------------- */
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 199;
}

.modal-content {
  position: relative;
  top: 0;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  margin: 4% 64px;
  font-size: 0.7rem;
  overflow-y: auto;
  max-height: 90%;
}

.modal-content header > * {
  display: inline-flex;
}

.modal-content span.primary {
  background-color: rgba(0, 70, 156, 0.1);
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 16px;
  padding: 4px 16px;
  margin-left: 24px;
  margin-right: 16px;
}

.modal-content .card-status {
  position: relative;
  top: -4px;
}

.modal-content p {
  color: var(--icon-color);
}

.modal-content .doc-info {
  margin: 32px 0px;
}

.modal-content .card-info {
  padding: 10px 0px;
}

.modal-content footer {
  gap: 1rem;
}

/* ---------------------------------------- */

/* -------------- RATEIOS ----------------- */

#rateios {
  margin: 32px 0px;
  font-size: 0.8em;
}

#rateios header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#rateios header p {
  color: var(--brdr-color);
  font-weight: bold;
}

#rateios p {
  font-size: 0.8em;
}

#rateios header hr {
  flex-grow: 1;
  height: 0px;
  margin: 0px 16px;
  margin-right: 64px;
  border-color: rgba(238, 238, 238, 0.5);
}

.container-apports {
  margin-top: 32px;
}

.container-apports button,
.container-apports select {
  font-size: 0.9em;
}

.container-apports select {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
}

.container-apports .inline-list {
  gap: 2rem;
  justify-content: space-evenly;
}

.container-apports header {
  position: relative;
  margin-bottom: -24px;
  padding: 8px;
  padding-bottom: 32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(0, 70, 156, 0.15);
}

.container-apports header .tertiary-btn {
  background-color: transparent;
  font-weight: bold;
}

.apports-table {
  position: relative;
  background-color: var(--bgnd-color);
  border: 1px solid var(--brdr-color);
  border-radius: 8px;
  border-spacing: 0;
}

.apports-table input {
  max-width: 64px;
  margin: 0;
  font-size: 0.9em;
}

.apports-table thead th,
.apports-table tfoot td {
  padding: 8px;
}

.apports-table td {
  padding: 8px;
  max-width: 64px;
  text-align: center;
}

.apports-table td:last-child {
  padding: 8px 16px;
}

.apports-table th, .apports-table .tb-ltotal {
  background-color: rgba(238, 238, 238, 0.5);
}

.apports-table select,
.apports-table option {
  border: none;
  background-color: transparent;
}

.apports-table td:first-child {
  max-width: 200px;
}


.apports-table td {
  border-top: 1px solid var(--brdr-color);
}

.apports-table td:not(:first-child), .apports-table th:not(:first-child) {
  border-left: 1px solid var(--brdr-color);
}

.apports-table td.numeric-value {
  text-align: right;
  max-width: 72px;
}

.apports-table td.text-value {
  text-align: left;
}

.apports-table th:not(:first-of-type) {
  text-align: center;
}

.apports-table thead, .apports-table tfoot {
  font-weight: bold;
}

.apports-table input[type="number"]::-webkit-outer-spin-button,
.apports-table input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  text-align: right;
}

.apports-table input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  text-align: right;
  border: none;
  width: fit-content;
  max-width: 56px;
}

.apports-table option:disabled {
  display: none;
}

/* ------------------------------------------------------ */
