:root {
    --primary-color: #00469B;
    --secondary-color: #363632;
    --success-color: #008A17;
    --danger-color: #CC0000;
    --warning-color: #FED12A;
    --warning-text-color: #CB8700;
    --info-color: #04797F;
    --bgnd-color: #FFFFFF;
    --icon-color: #757575;
    --brdr-color: #DDDDDD;
    --text-color: #363632;
}

.action-btn {
    border-radius: 20px;
    border-width: 1px;
    padding: 10px 16px;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--bgnd-color);
    border: none;
}

.secondary-btn {
    background-color: var(--bgnd-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 20px;
}

.tertiary-btn {
    background-color: var(--bgnd-color);
    color: var(--primary-color);
    border: none;
}

.icon {
    color: var(--icon-color);
}